<div class="bg-dark text-white confirm-message-box">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="!isLoading">
    <div *ngIf="isConfirmationSuccessful">
      Email confirmed successfully! You can now login!
    </div>
    <div *ngIf="!isConfirmationSuccessful">
      <div *ngIf="!isResent">
        {{message}}
        <button mat-raised-button color="accent" class="m-3" (click)="onResend()">Resend</button>
      </div>
      <div *ngIf="isResent">
        {{message}}
      </div>
    </div>
  </div>
</div>
