<mat-tab-group
  mat-align-tabs="start"
  color="accent"
  (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let tabLabel of tabLabels" label="{{tabLabel}}">

<div class="cards-container">
  <div *ngIf="data.length == 0" class="bg-dark m-5 p-5 text-white rounded">
    No projects for this category
  </div>
<mat-card role="group" class="bg-dark" *ngFor="let project of data">
  <mat-card-header>
    <mat-card-title>
      {{project.title}}
    <span>({{project.status}})<mat-icon class="refresh" (click)="onRefreshStatus(project)">refresh</mat-icon></span>
    </mat-card-title>
    <mat-card-subtitle *ngIf="!isResearchProject(project)">
      {{project.owner.firstname}} {{project.owner.lastname}}
    </mat-card-subtitle>
    <mat-card-subtitle class="collaborators-container" *ngIf="isResearchProject(project)">
      <div class="collaborator"
           *ngFor="let collaborator of project.collaborators">
        <a href="mailto:{{collaborator.email}}">{{collaborator.firstname}} {{collaborator.lastname}}</a>
      </div>
    </mat-card-subtitle>

  </mat-card-header>

  <hr>

  <mat-card-content>
    <div>
      <app-project-rating></app-project-rating>
    </div>
    <hr>
    <div class="my-content">

      <div class="left">
        <div class="my-row" *ngIf="!isResearchProject(project)">
          <h3 class="m-0">Coordinator:</h3>
          <p>{{project.coordinator.firstname}} {{project.coordinator.lastname}}</p>
          <hr>
        </div>
        <div>
          <h3 class="m-0">Repository Link:</h3>
          <p>
            <a href="{{project.repoLink}}">Go to project repo</a>
          </p>
          <hr>
        </div>
        <div>
          <h3 class="m-0">Type:</h3>
          <p>{{project.projectType}}</p>

        </div>
      </div>

      <div class="right">
        <h3>Description</h3>
         {{project.description}}
      </div>

    </div>

  </mat-card-content>

  <hr>

  <mat-card-actions align="end">
    <button mat-stroked-button *ngIf="canEdit(project)" (click)="goToEditProjectPage(project.id.toString())">Edit</button>
    <button mat-raised-button color="primary" [disabled]="!isDownloadable(project)" (click)="openDownloadDialog(project)">Download</button>
    <button mat-raised-button color="accent" *ngIf="canSendToSH(project)" (click)="onSendArchivingRequest(project)">Send to SH</button>
  </mat-card-actions>
</mat-card>
<!--
  <mat-paginator [pageSizeOptions]="[3, 5, 7]"
                 showFirstLastButtons
                 [length]="resultsLength"
                 #myPaginator
  >
  </mat-paginator>
-->
</div>
  </mat-tab>
</mat-tab-group>

<mat-paginator [pageSizeOptions]="[3, 5, 7]"
               showFirstLastButtons
               [length]="resultsLength"
               #myPaginator
>
</mat-paginator>





