<div class="myContainer">

<div *ngIf="isSuccessful" class="card-body p-5 text-center text-success">
  {{successMessage}}
</div>

<div *ngIf="!isSuccessful">
  <div *ngIf="isError" class="alert alert-danger">
    {{errorMessage}}
  </div>

  <div class="p-5 text-center">
    <h2>Add new user</h2>
  </div>
  <form *ngIf="!isSuccessful" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="row p-3">

      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Firstname</mat-label>
          <input
                      matInput
                      formControlName="firstname"
                      type="email"
                      id="firstname"
                      placeholder="Firstname"

                    />

        </mat-form-field>
        <div *ngIf="(firstname?.errors?.['required']) && (firstname?.touched || firstname?.dirty)"
             class="alert alert-danger">
          Firstname is required.
        </div>
                </div>

                <div class="col">
                  <mat-form-field appearance="outline">
                    <mat-label>Lastname</mat-label>
                    <input
                      matInput
                      formControlName="lastname"
                      type="email"
                      id="lastname"
                      placeholder="Lastname"
                    />
                  </mat-form-field>
                  <div *ngIf="(lastname?.errors?.['required']) && (lastname?.touched || lastname?.dirty)"
                       class="alert alert-danger">
                    Lastname is required.
                  </div>
                </div>
              </div>

              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  type="email"
                  id="username"
                  placeholder="Email"
                />
              </mat-form-field>
    <div *ngIf="(email?.invalid) && (email?.dirty || email?.touched)"
         class="alert alert-danger">

      <div *ngIf="email?.errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="email?.errors?.['email']">
        Not an email format.
      </div>
    </div>


              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  type="password"
                  id="password"
                  placeholder="Password"
                />
              </mat-form-field>

                <div *ngIf="(password?.invalid) && (password?.touched || password?.dirty)"
                     class="alert alert-danger"
                >
                  <div *ngIf="(password?.errors?.['required']) && (password?.dirty ||password?.touched)"
                       class="myPassReq"
                  >
                    Password is required.
                  </div>
                  <div *ngIf="(password?.errors?.['hasCapital']) && (password?.dirty ||password?.touched)"
                       class="myPassReq"
                  >
                    Password must contain at least one capital case.
                  </div>
                  <div *ngIf="(password?.errors?.['hasSmall']) && (password?.dirty ||password?.touched)"
                       class="myPassReq"
                  >
                    Password must contain at least one small case.
                  </div>
                  <div *ngIf="(password?.errors?.['hasSpecial']) && (password?.dirty ||password?.touched)"
                       class="myPassReq"
                  >
                    Password must contain at least one special character.
                  </div>
                  <div *ngIf="(password?.errors?.['minlength']) && (password?.dirty ||password?.touched)"
                       class="myPassReq"
                  >
                    Password must have at least 5 characters.
                  </div>

                  <div *ngIf="(password?.errors?.['hasNumber']) && (password?.dirty ||password?.touched)"
                       class="myPassReq"
                  >
                    Password must have at least one number!
                  </div>
                </div>




              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  formControlName="confirmPassword"
                  type="password"
                  id="confirm-pass"
                  placeholder="Confirm Password"
                />
              </mat-form-field>
    <div *ngIf="(registerForm.errors?.['notSamePasswords']) && (registerForm.touched || registerForm.dirty)"
         class="cross-validation-error-message alert alert-danger">
      Passwords don't match!
    </div>

              <mat-form-field appearance="outline">
                <mat-label>Select Account Type</mat-label>
                <mat-select
                  id="selectAccountType"
                  formControlName="roleName"
                  (selectionChange)="changeSelect($event)"
                >
                  <mat-option *ngFor="let userType of userTypes" [value]="userType">{{userType}}</mat-option>
                </mat-select>
              </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="isStudent">
                  <mat-label>Student ID</mat-label>
                  <input
                    matInput
                    formControlName="studentID"
                    type="text"
                    id="studentID"
                    placeholder="Student ID"
                  />

                </mat-form-field>
    <div *ngIf="(studentID?.errors?.['required']) && (studentID?.touched || studentID?.dirty)"
         class="alert alert-danger"
    >
      Student ID is required.
    </div>


              <button [disabled]="!registerForm.valid"
                      type="submit"
                      class="px-3 m-3 btn btn-primary"
              >
                Create Account
              </button>

            </form>
          </div>
</div>

