<mat-sidenav-container autosize>
  <mat-sidenav #sidenav [opened]="!isSmallScreen" mode="side" class="mat-elevation-z8 bg-dark" >
    <mat-nav-list>
      <button mat-button matSubheader (click)="sidenav.toggle()">Admin Dashboard</button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <button mat-button class="toggle-btn" *ngIf="!sidenav.opened" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    Main
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
