<div class="admin-dashboard-container">
  <div class="side-panel bg-dark text-white" *ngIf="!isMenuCollapsed">
    <button mat-button matSubheader (click)="collapse()">Admin Dashboard</button>

    <hr>

    <button mat-button class="menu-button" (click)="selectComponent(1)">
      <mat-icon>person_add</mat-icon>
      <span>Add User</span>
    </button>

    <button mat-button (click)="selectComponent(2)">
      <mat-icon>group</mat-icon>
      <span>All users</span>
    </button>

    <button mat-button (click)="selectComponent(3)">
      <mat-icon>line</mat-icon>
      <span>Projects Stats</span>
    </button>
  </div>

  <div class="main-content bg-dark text-white" *ngIf="isContentShown">
    <button mat-button *ngIf="isMenuCollapsed" (click)="collapse()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-add-user *ngIf="activeComp == 1"></app-add-user>
    <app-all-users *ngIf="activeComp == 2"></app-all-users>
    <app-projects-stats *ngIf="activeComp == 3"></app-projects-stats>
  </div>
</div>


