<div class="forgot-pass-container bg-dark text-white">
  <h3>Please enter your email and we will send you a reset password email.</h3>
  <div *ngIf="wasAttempted">
    <div class="alert alert-success" *ngIf="isSuccessful">
      {{message}}
    </div>
    <div class="alert alert-danger" *ngIf="!isSuccessful">
      {{message}}
    </div>
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="text"
        placeholder="Email"
      >
    </mat-form-field>
    <button [disabled]="!resetPasswordForm.valid" mat-raised-button color="accent" type="submit">Submit</button>
  </form>

</div>
