<div class="title-container bg-dark">
  Software heritage middleware applied for academic  research
</div>
<div class="homepage-container">
  <div class="content-container">
  <div class="actions-container" *ngIf="!isLoggedIn()">
    <div class="action" routerLink="/login">
      Login
      <mat-icon>arrow_right</mat-icon>
    </div>
    <div class="action" routerLink="/register">
      Register
      <mat-icon>arrow_right</mat-icon>
    </div>
  </div>

  <div class="presentation-container">
    <div class="description-container">
      The platform aims to help with projects management inside faculty. It makes it easier for students and professors to send their projects to Software Heritage, download archived projects, view and search for projects and get recommendations of popular GitHub repositories based on their search interests.
    </div>
    <hr>
    <div class="functionalities-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Manage projects</mat-card-title>
          <mat-icon mat-card-avatar>manage</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <p>Students and professors can view and search all projects and edit theirs projects.</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Rate projects</mat-card-title>
          <mat-icon mat-card-avatar>star</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <p>Professors and Students can rate projects according to their preferences.</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Archive</mat-card-title>
          <mat-icon mat-card-avatar>archive</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <p>Professors can chose what projects they want to send to Software Heritage for archiving.</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Download</mat-card-title>
          <mat-icon mat-card-avatar>download</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <p>Professors and students can download projects that were archived to Software Heritage.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
    </div>
</div>
